* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*utility*/

ul,
li {
    list-style-type: none;
    min-width: 50px;
    /*display: inline;*/
}

header {
    background-color: rgb(37, 94, 233);
    padding: 20px 0;
}

.top-p {
    padding-top: 130px;
}

p {
    padding-top: 40px;
    font-weight: 100;
}

.fs1 {
    font-size: 50px;

}

.fs2 {
    font-size: 24px;
    font-weight: lighter;
}

.wht {
    color: white;
}

.text-lila {
    color: rgb(114, 137, 218);
}


a {
    text-decoration: none;
    color: white;
}

.fk-btn {
    background-color: white;
    border-radius: 25px;
    color: black;
    padding: 10px 10px;
}

.fk-btn2 {
    background-color: black;
    border-radius: 25px;
    color: white;
    padding: 10px 10px;
}

.fk-btn3 {
    background-color: rgb(114, 137, 218);
    border-radius: 25px;
    color: white;
    padding: 10px 10px;
}

body {
    font-family: 'gg sans', sans-serif;
    font-family: 'gg sans Normal', sans-serif;
    font-family: 'gg sans Medium', sans-serif;
    font-family: 'gg sans SemiBold', sans-serif;
}

.bg-footer {
    background-color: rgb(35, 39, 42);
}

.bt-bg {
    background-color: salmon;
}

.grey {
    background-color: rgb(246, 246, 246)
}

.white {
    background-color: white;
}

.reverse {
    flex-direction: row-reverse;
}

.ul1,
.li1 {
    list-style-type: none;
    margin: 0 25px;
    display: inline;
}

/*
.border {
    border: 2px dotted black
}

.border2 {
    border: 2px dotted white
}
*/

/*navbar*/

.navbar-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 980px;
}

/*
.navbar-logo,
.navbar-links,
.navbar-login {
    background-color: orange;
}
*/

/*
.navbar-logo,
.navbar-login {
    min-height: 25px;
    flex-basis: calc((100% /12)*2)
}
*/

.navbar-links {
    flex-grow: 1;
    text-align: center;
}

/*hero-section*/

.hero-section-container {
    background-image: url(../imgs/jumbo.png);
    background-size: cover;
    padding: 30px 300px;
}

.hero-section-content {
    height: 500px;
    /*background-color: rgb(238, 130, 238);*/
    text-align: center;
}

.btn-container {
    padding: 25px 250px;
    display: flex;
    justify-content: space-around;
}

/*main-section*/

.section-container {
    padding: 100px 200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.section-content-blu {
    /*background-color: skyblue;*/
    flex-basis: 60%;
    min-height: 300px;
}

.section-content-pink {
    /*background-color: pink;*/
    flex-basis: 40%;
    min-height: 300px;
}

/*green section*/

.green-section-container {
    padding: 30px 200px;
    text-align: center;
}

.green-section-contain {
    min-height: 500px;
    /*background-color: green;*/
}

.bg-stars {
    background-image: url(../imgs/stars.svg);
    padding-bottom: 30px;
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}

/*footer*/

.up-section {
    line-height: 40px;
    padding: 30px 200px;
    display: flex;
}

.salmon-item {
    /*background-color: salmon;*/
    height: 400px;
    padding-right: 56px;
    flex-basis: calc((100% / 12) * 4);
}

.green-item {
    /*background-color: lightseagreen;*/
    height: 400px;
    flex-basis: calc((100% / 12) * 2);
    flex-grow: 1;
}

.down-section {
    padding: 10px 200px;
}

.button-item {
    display: flex;
    /*margin: 5px;*/
    /*background-color: lightgreen;*/
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}







.mask {
    -webkit-mask-image: url(../imgs/wave.svg);
    mask-image: url(../imgs/wave.svg);
    mask-size: 100px;
    mask-position: top;
}